.ui-error{
  background-color: #F2DEDE;
  padding: 16px;
  margin: 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-title{
  color: #AF4341;

  font-weight: 700;
}

.error-description{
  color: #AF4341;

}